.root {
	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	appearance: none;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	transition: background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, color 0.15s ease-in-out;
	cursor: pointer;
}
