.app {
  background: #f4f5f7;
  display: flex;
  justify-content: center;
  /* height: 100%; */
  color: var(--color-text);
  font-size: 15px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
  width: 70%;
  margin-top: 10vh;
}

.sentence {
  word-break: break-word;
}

.word {
  margin-right: 4px;
}

.wordActive {
  background-color: var(--color-text-highlight);
}
