:root {
  --color-text: #05294b;
  --color-subtitle: #8494a6;
  --color-primary: #3374eb;
  --color-text-highlight: #dae7ff;
  --color-separator: #eff0f2;
  --color-background: #f4f5f7;
  --color-slider-track: #e8e8e8;
}
