.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  /* flex-direction: column; */
  height: 100%;
  justify-content: center;
}

.contentWrapper {
  height: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
}
